<span title="<%= titleHover || '' %>">
    <a href="<%= titleUrl || '' %>"> <%= titleText || "" %> </a>
</span>  
<span class="apps">
    <% if (typeof links !== 'undefined') { %>  
        <% links.forEach(function(link){ %>
            <a href="<%= link.url %>" title="<%= link.hover %>"><%= link.text %></a>
        <% });%>
    <% }%>
</span>